*                           @saic-oss/anvil

# Don't change me! Compliance team is the owner of these files
/.github/                   @saic-oss/compliance
/ci/                        @saic-oss/compliance
/Taskfile.yml               @saic-oss/compliance
/.pre-commit-config.yaml    @saic-oss/compliance
/.remarkrc                  @saic-oss/compliance
